body{
}

.video{
    position: relative;
    width: 600px;
    height: 400px;
    margin: 0 auto;
    float: left;
}
iframe{
    position: absolute;
    width: 600px;
    height: 400px;
    z-index: -1;
}
#canvas_output{
    position: absolute;
    left: 0px;
    top: 0px;
    z-index: 1;
}
#canvas_input{
    position: absolute;
    left: 600px;
    top: 0px;
}
#sendButton{
    position: absolute;
    left: 600px;
    top: 400px;
}