body{
}

.video{
    width: 600px;
    height: 400px;
    margin: 0 auto;
}
iframe{
    position: absolute;
    top: 33%;
    left: 50%;
    -webkit-transform: translate(-50%,-50%);
    -moz-transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
    -o-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);

    width: 600px;
    height: 400px;
    z-index: -1;
}

canvas{
    position: absolute;
    top: 33%;
    left: 50%;
    -webkit-transform: translate(-50%,-50%);
    -moz-transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
    -o-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);

    z-index: 0;
}